

/* --------共通部分---------- */

html{
  font-size:100%;
  margin:0;
}

body{
  margin:0;
  font-family: 'Noto Serif JP', serif;
  line-height:1.7;
  color:#595757;
}

img{
  max-width:100%;
}

header{
  font-family: 'Noto Serif JP', serif;
  line-height:1.7;
}

a{
  text-decoration: none;
}

.wrapper{
  max-width:1100px;
}

main{
  line-height:1.7;
}

h1, h2, h3, h4, p{
  margin:0;
  padding:0;
}


/* ------ヘッダー--------- */


.page-header{
  background:#FFF8DD;
  display:flex;
  padding:1rem;
  align-items: center;
}

.page-header h1{
  margin:0;
  width:100%;
  padding-left:2.5rem;
}

.page-header img{
  width:100px;
  line-height: 3rem;;
}

.page-header img:hover{
  opacity:.5;
  transition:.5s;
}

.sp-menu #open{
  position:fixed;
  top:30px;
  right:30px;
  font-size:36px;
  opacity: 80%;
  cursor: pointer;
  user-select: none;
}

.sp-menu #open.hide{
  display:none;
}

.overlay{
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background:rgba(255, 255, 255, 0.747);
  text-align: center;
  padding:6rem;
  opacity:0;
  pointer-events: none;
  transition:opacity .8s;
}

.overlay.show{
  opacity:1;
  pointer-events: auto;
}

.overlay #close{
  position:absolute;
  top:30px;
  right:30px;
  font-size:36px;
  opacity: 80%;
  cursor: pointer;
  user-select: none;

}

.overlay ul{
  list-style: none;
  margin:0;
  padding:0;
}

.overlay li{
  margin-top:2rem;
  opacity:0;
  transition:opacity .8s, transform 1s;
}

.overlay.show li:nth-child(1){
  opacity:1;
  transition-delay: .2s;
}
.overlay.show li:nth-child(2){
  opacity:1;
  transition-delay: .4s;
}
.overlay.show li:nth-child(3){
  opacity:1;
  transition-delay: .6s;
}
.overlay.show li:nth-child(4){
  opacity:1;
  transition-delay: .8s;
}
.overlay.show li:nth-child(5){
  opacity:1;
  transition-delay: 1s;
}

.main-nav a{
  text-decoration: none;
  color:#595757;
  text-shadow:2px 2px 2px rgb(145, 145, 145);
}

.main-nav a:hover{
  opacity:.5;
  transition:.5s;
}

.pc-menu{
  display:none;
  margin-left:auto;
}


@media(min-width:750px){
  .pc-menu{
    display:block;
    padding-right: 3rem;
  }
  
  .pc-menu .main-nav{
    display:flex;
    list-style: none;
  }
  
  .pc-menu .main-nav a{
    text-shadow: none;
    padding-right: 2rem;
  }


  .sp-menu{
    display:none;
  }

}


/* --------メインビジュアル--------- */


.mainvisual video{
  z-index: 1;
  pointer-events: none;

}

.main-news{
  position:relative;
  float:right;
  color:#fff;
  margin-top:-6.5rem;
  z-index: 2;
  padding-right:2rem;
  display:flex;
}

.news-txt{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left:1.5rem;
}




/* --------チーズとワイン---------- */


.cheesewine{
  background: -moz-linear-gradient(top, #fff 20%,#f3f1f1);
  background: -webkit-linear-gradient(top, #fff 20%,#f3f1f1);
  background: linear-gradient(to bottom,#fff 20%,#f3f1f1);
  display:flex;
  padding:10rem 0;
}

.cheesewine-img{
  padding: 3rem 0 3rem 6rem;
  width:50%;
}

.cheesewine-img img{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.cheesewine-text{
  width:50%;
  padding: 10rem 3rem 8rem 6rem;
}

.cheesewine-text h1{
  padding-bottom: 2.5rem;
  font-size: 2rem;
}

.cheesewine-text p{
  padding-bottom: 2.5rem;
}


.button{
  font-size: 1rem;
  display: inline-block;
  padding: .5rem 2rem;
  border: 2px dashed #595757;
  border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
  color: #595757;
  font-family: 'Covered By Your Grace', cursive;
  text-decoration: none;
  text-align: center;
}

.button:hover{
  color:#f8e184;
  text-shadow: 1px 1px 2px #595757;
  border: 2px dashed #f8e184;
  background:#fff8ddde;
  transition:.4s;
}





/* -------おすすめ商品-------- */


.recomend-item{
  background-image: url(../image/mona-eendra-vC8wj_Kphak-unsplash.jpeg);
  min-height: 100vh;
}

.big-bg{
  background-size: cover;
  background-position:center top;
  background-repeat: no-repeat;
}

.seminar{
  background:#f3f1f1;
}


.recomend-item, .seminar, .blog{
  padding:10rem 4rem;
  text-align: center;
}

.recomend-item h1, .seminar h1, .blog h1 {
  text-align: center;
  font-size:2rem;
  margin:4rem;
}

.recomendcontain, .seminarcontain{
  display: flex;
  justify-content: center;
  margin:0 0 4rem;
}

.cheeseplate, .seminarcheese{
  width:100%;
  padding:0 1rem 1rem;
}


.cheeseplate img,.seminarcheese img{
  cursor: pointer;
}

.cheeseplate img:hover,.seminarcheese img:hover{
  opacity:1;
  transition:.3s; 
}

.cheeseplate p, .cheeseplate h4, .seminarcheese p, .seminarcheese h4{
  text-align: left;
}
.cheeseplate h4, .seminarcheese h4{
  padding-top:1rem;
}

.recomend-item a, .seminar a{
  margin-right: auto;
  margin-left: auto;
}





/* ------ブログ------- */



.blog{
  background-image: url(../image/mona-eendra-vC8wj_Kphak-unsplash.jpeg);
  min-height: 100vh;
  text-align: center;
}


.blog h1{
  text-align: center;
  font-size:2rem;
  margin: 4rem;
}

.blogmain{
  justify-content: center;
  display: flex;
  margin-bottom: 5rem;
  align-items: center;
}

.blogphoto{
  width:50%;
}

.blogmain img{
  width:60%;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  cursor: pointer;
  margin-left: 11rem;
  
}

.blogphoto img:hover{
  opacity:1;
  transition:.3s; 
}

.blogtxt{
  width:50%;
}

.blogtxt p{
  margin-right: 11rem;

}





/* ------メルマガ------- */



input[type="email"] {
  width: 100%;
  max-width: 240px;
  background: rgba(255, 255, 255, .5);
  border: 1px #fff solid;
  padding: .25rem;
  opacity:.5;
}

.mailmagazin{
  background:#f3f1f1;
  padding:8rem 5rem;
  display:flex;
  justify-content: center;
}

.mail-title{
  width:60%;
  padding-left: 10rem;
}

.mail-title h2{
  margin-bottom: 1rem;
}

.form{
  width:40%;
  margin-top:2rem;  
  display: flex;
  align-items: center;
  height:2.5rem;
}

.btn{
  font-size: .85rem;
  margin-left: 1rem;
  padding: .25rem 1rem;
  border: 2px dashed #595757;
  border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
  color: #595757;
}

.btn:hover{
  color:#f8e184;
  text-shadow: 1px 1px 2px #595757;
  border: 2px dashed #f8e184;
  background:#fff8ddde;
  transition:.4s;
}





/* ---------フッター----------- */



footer{
  display: flex;
  justify-content: space-between;
  background:#FFF8DD;
  padding: 1rem;
  padding-bottom: 0;
  align-items: flex-end;
}

.footerlogo{
  width:30%;
  margin:1.5rem 0 2.5rem 4rem;
  text-align: center;
}

.footerlogo > a img{
  cursor:default;
}

.snsicon{
  width:30%;
  margin:0;
}

.snsicon ul{
  display:flex;
  justify-content: space-around;
  padding:0;
}

.snsicon li{
  list-style: none;
}

.snsicon li:hover{
  opacity:.5;
  transition:.5s; 
}

.snsicon img{
  width:40px;
  height:40px;
}

.address{
  width:30%;
  height: 100%;
  margin-bottom: 4rem;
}

.address p{
  margin-bottom: 2rem;
  font-size:.85rem;
}

.footerlink{
  display:flex;
  list-style:none;
}

.footerlink a{
  color: #595757;
  font-size: 0.75rem;
}

.footerlink .divider{
  width:40px;
  text-align: center;
}

.footerlink a:hover{
  opacity:.8;
  transition:.2s; 
}

.copyright{
  width:30%;
  height:100%;
  margin-bottom: 2.5rem;
  text-align: center;
}


.huwatto{
  opacity:0;
  transform:translateY(10px);
  transition:opacity.4s, transform .7s;
}

.huwatto.appear{
  opacity:.8;
  transform:translateY(0);
}

.br-pc{
  display:none;
}

.pc{
  display:block;
}

.sp{
  display:none;
}




@media(max-width:1030px){

  .none{display:none}


  .pc-menu{
    padding-right: 1.5rem;
  }

  .pc-menu li{
    font-size:0.85rem;
  }

  .main-news{
    font-size:0.85rem;
    margin-top:-6rem;
  }

  .blogmain img{
    margin-left: 6rem;
  }

  .blogtxt p{
    margin-right:6rem;
  }

  .mailmagazin{
    display:block;
  }

  .mail-title{
    width:100%;
    padding:0;
    text-align: center;
  }

  .form{
    width:100%;
    text-align: center;
    justify-content: center;
    margin-top:5rem;
  }

  .footerlogo{
    margin-right:3rem;
  }

  .footerlogo > a img{
    width:50%;
  }

  .snsicon{
    width:50%;
  }

  .snsicon img{
    width:35px;
    height:35px;
  }

  .address{
    width:40%;
  }
  
}


@media(max-width:750px){


  body{
    -webkit-overflow-scrolling: touch;
  }


  .br-sp{
    display:none;
  }

  .page-header{
    padding:1rem 0 0;
  }

  .page-header h1{
    padding:0;
    text-align: center;
  }
  
  .page-header img{
    width:20%;
  }
  
  .sp-menu #open{
    position:absolute;
    font-size:30px;
    top:20px;
    right:20px;
  }
  
  .overlay{
    position:absolute;
    padding:2rem 4rem;
    bottom:auto;
    pointer-events: none;
    background: -moz-linear-gradient(top right, #fcf800d5 20%,#ffee0002);
    background: -webkit-linear-gradient(top right, #fcf800d5 20%,#ffee0002);
    background: linear-gradient(to bottom ,#fcf800d5 20%,#ffee0002);
  }

  .overlay li{
    margin-top:1rem;
  }

  .overlay #close{
    font-size:30px;
    top:20px;
    right:20px;
  }

  .main-news{
    margin:0;
    padding:0;
    color:#000;
  }

  .news-head h1{
    font-size:0.85rem;
  }

  .news-head h3{
    font-size:0.85rem;
  }

  .news-txt{
    font-size:0.85rem;
    padding-left:0.5rem;
    padding-right:1rem;
  }
  
  .cheesewine{
    display:block;
    border-bottom: 1px solid #fff;

  }

  .cheesewine-img{
    width:100%;
    padding:0;
    text-align: center;
  }

  .cheesewine-text {
    width: 100%;
    padding: 0;
  }
  
  .cheesewine-text h1{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0 2rem;

  }
  
  
  .cheesewine-text p{
    font-size:0.85rem;
    padding-right: 2.5rem;
    padding-left:2.5rem;
  }

  .button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:100px;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }

  .recomend-item, .seminar, .blog{
    padding:3rem 1rem 10rem;
    border-bottom: 1px solid #fff;
  }

  .recomend-item h1, .seminar h1, .blog h1{
    margin:0;
    font-size:1.5rem;
  }

  .recomendcontain, .seminarcontain{
    display: block;
    margin:0;
    margin-top:3rem;
  }

  .cheeseplate img, .seminarcheese img{
    width:90%;
  }

  .cheeseplate h4, .seminarcheese h4 {
    font-size: 0.85rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
  }

  .cheeseplate p, .seminarcheese p {
    font-size: 0.85rem;
    padding: 0 1.5rem 2.5rem;
  }

  .cheeseplate, .seminarcheese{
    padding:0;
  }

  .blogcontain{
    margin-top:3rem;
  }

  .blogmain {
    display:block; 
    margin:0;
  }

  .blogmain img{
    margin:0;
  }

  .blogphoto{
    width:100%;
  }

  .blogtxt{
    width:100%;
  }

  .blogtxt p{
    margin:0;
    padding: 1rem 2.5rem 3.5rem;
    font-size: 0.85rem;
  }

  .mailmagazin{
    padding: 3rem 1rem 10rem;
  }

  .br-pc{
    display:block;
  }

  .mail-title h2{
    margin-bottom: 1.5rem;
    font-size:1.25rem;
  }

  .mail-title p{
    font-size: 0.85rem;
  }

  .form{
    display:block; 
    margin:0;
  }

  input[type="email"]{
    max-width:initial;
    width:40%;
    padding:0.15rem;
    margin:4rem 3rem 0.5rem;
  }

  .btn{
    width:100%;
    font-size: 0.85rem;
    margin:0;
  }

  footer{
    display:block;
    flex-direction: column;
    background-image: url(../image/2143270.jpg);
    background-color:#fcedb2b7;
    background-blend-mode:lighten;
    min-height: 100vh;
    text-align: center;
  }

  .footerlogo{
    width:100%;
    margin:0;
  }

  .address{
    width:100%;
    margin:7rem auto 1rem;
    color:#fff;
  }

  .footerlink{
    margin:0 auto;
    justify-content: center;
  }
  
  .footerlink a{
    font-size:0.5rem;
    color:#fff;
  }

  .footerlink .divider{
    width:12px;
  }


  .copyright{
    width:100%;
    color:#fff;
  }
  
  .copyright p{
    margin-top:4rem;

  }

  .footerlogo img{
    width:40%;
    margin:5rem auto 0;
  }

  .pc{
    display:none;
  }

  .sp{
    display:block;
  }

  .snsicon{
    margin:3rem auto 0;
    width:30%;
  }

  .snsicon img{
    margin:0;
    width:40px;
    height:40px;
  }
  
  .snsicon ul{
    justify-content: space-evenly;
  }

  .snsicon li{
    opacity:0.5;
    transition:.3s ease-in;
  }

  .snsicon li:hover{
    opacity:1;
  }

  .copyright{
    margin:2rem 0 0.5rem;
  }

  small{
    font-size:0.75rem;
  }
}


  @media(max-width:480px){
    
    
    .page-header img{
      width: 35%;
    }

    .button{
      font-size: 0.85rem;
    }

    .cheeseplate, .seminarcheese {
      padding-bottom: 3.5rem;
    }

    .cheeseplate p, .seminarcheese p{
      padding-bottom:0;
    }

    /* .form{
      flex-direction: column;
    } */

    input[type="email"]{
      margin:3rem auto 1rem;
      font-size:0.85rem;
      width:60%;
    }

    .huwatto{
      transform:none;
      transition:unset;
      opacity:1;
    }
    .huwatto.appear{
      transform:none;
      transition:unset;
      opacity:1;
    }

    .footerlogo > a img{
      width:100%;
    }

    .snsicon{
      width:50%;

    }
    .snsicon li{
      opacity:1;
      padding:0 1rem 0;
    }
    .address{
      text-shadow: 2px 2px 2px rgb(165, 165, 165);
    }

    .footerlink a{
      font-size: 0.75rem;
    }
}